<section id="meetTeam">
    <div class="blue-box-container">
        <div class="blue-box">
            <h1 id="teamTitle" class="text-center">Meet The Team</h1>
        </div>


        <div class="card-wrapper">
            <div class="aboutCard">
                <div class="row">
                    <div class="col-sm-3 text-center">
                <img class="profilePic" src="/images/profile pic.jpg" alt="profile image" class="profile-img">
                    </div>
                    <div class="col-sm-7">
                <h1 class="nameTitle text-center">Jeremy Fong</h1>

                <p class="about">
                    Hi my name is Jeremy Fong, I was previously studying physical therapy, but have recently decided on a career change and started my coding journey last year. My hobbies include hiking, almost any sport, video games, and hanging with family and friends. Coding has been difficult to learn, but I have enjoyed it so far and am eager to improve and gain more skills.
                </p>
                    </div>
                    <div class="col-sm-2">
                <h3 class="contactTitle">Contact</h3>
                <ul class="contact">
                    <li><a class="contact" href="https://github.com/jeremy-fong"><span>GitHub</span></a></li><br>
                    <li><a class="contact" href="mailto:jeremyfong9@yahoo.com"><span>Email</span></a></li>
                </ul>
                    </div>

                </div>
            </div>
            {{!-- <hr> --}}

            <div class="aboutCard">
                <div class="row">
                    <div class="col-sm-3 text-center">
                <img class="profilePic" src="/images/profile pic2.jpg" alt="profile image" class="profile-img">
                    </div>
                    <div class="col-sm-7">
                <h1 class="nameTitle text-center">Evgheni Dimov</h1>

                <p class="about">
                    My name is Evgheni Dimov. Currently I work as a computer technician and taking evening classes at UC Davis boot camp. My hobbies are photography, going hiking and doing backpacking trips.
                </p>
                    </div>
                    <div class="col-sm-2">
                <h3 class="contactTitle">Contact</h3>
                <ul class="contact">
                    <li><a class="contact" href="https://github.com/Eugene-Dim"><span>GitHub</span></a></li><br>
                    <li><a class="contact" href="mailto:dimovjenea@gmail.com"><span>Email</span></a></li>
                </ul>
                    </div>
                </div>
            </div> 

        </div>
    </div>
</section>